<div class="max-w-sm bg-gray-100 border border-gray-100 rounded-lg shadow-sm dark:bg-white-100 dark:border-gray-100 ">
  <a>
      <img class="h-full w-full rounded-lg object-cover" [src]="url()" alt="" />
  </a>
  <div class="p-5 flex gap-2 justify-center ">

    <button
      type="button"
      class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 inline-flex items-center gap-1 hover:cursor-pointer"
      (click)="onClipboard()"
    >
      <i class="fas fa-copy text-white sm:text-xl lg:text-sm"></i>
      <span class="relative transition-all ease-in duration-75 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent hidden sm:hidden lg:block sm:text-xs">
        Copiar link
      </span>
    </button>

    <button
      type="button"
      class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 inline-flex items-center gap-1 hover:cursor-pointer"
      (click)="openTab()"
    >
      <i class="fas fa-link text-white sm:text-xl lg:text-sm"></i>
      <span class="relative transition-all ease-in duration-75 rounded-md group-hover:bg-transparent group-hover:dark:bg-transparent hidden sm:hidden lg:block sm:text-xs">
        Abrir enlace
      </span>
    </button>
  </div>
</div>
